header{
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 20px;
}
li{
  color: #ff6060;
  list-style: none;
  display: inline;
}
a{
  text-decoration: none;
  font-size: 24px;
  text-transform: unset;
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  margin-left: 57px;
  display: inline-flex;
  align-items: center;
}
.nav-active{
  text-decoration: underline;
  color: #ff6060;
}